<%- include('header') %>

<div class="chartBox">
    <canvas id="piechart"></canvas>
</div>


<script src="/chart.js"></script>
<script>
   
//setup

const data = {
  labels: [
    <%for (let i = 0; i < chartdata.length; i++) {%>
      '<%= chartdata[i].name %>',
    <%}%>
  ],
  datasets: [
    {
      label: 'Dataset 1',
      data: [
          <%for (let i = 0; i < chartdata.length; i++) {%>
            <%= chartdata[i].amount %>,
          <%}%>
      ],
      backgroundColor:[
          <%for (let i = 0; i < chartdata.length; i++) {%>
            'rgb(<%= chartdata[i].color %>)',
          <%}%>
      ],
    }
  ]
};

//config

const config = {
  type: 'pie',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Ehavi költekezés'
      }
    }
  },
};


const myChart = new Chart(
    document.getElementById('piechart'),
    config
  );

</script>
<%- include('footer') %> 