<%- include('header') %>

<div class="chartBox">
    <canvas id="pieChart"></canvas>
</div>


<script src="/chart.js"></script>
<script>
    
    const data = {
    labels: [
       <% chartdata.forEach(element => {%>
           "<%= element.name %>",
        <%})%>
    ],
    datasets: [{
        
        data: 
            [
                <% chartdata.forEach(element => {%>
                    <%= element.amount %>,
                <%})%>
            ],
            backgroundColor: [
                <% chartdata.forEach(element => {%>
                    'rgb(<%= element.diff==1? "70, 157, 137" : "174, 32, 18" %>)',
                <%})%>
            ],
            hoverOffset: 4
        }]
    };
  
    const config = {
        type: 'pie',
        data: data,
        options: {
           
        }
    };

    const pieChart = new Chart(
        document.getElementById('pieChart'),
        config
    )
  </script>
<%- include('footer') %> 